root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
max_line_length = 200
indent_size = 4
continuation_indent_size = 4

# Disable strict ktlint rules for existing codebase
ktlint_standard_filename = disabled
ktlint_standard_class-naming = disabled
